# Promo codes

# Dollar value(500$, which is 5 dollars) +
# Tooman value(100T, which is 1000 rials) +
# Times(Number or * for infinit) +
# Code(4 to 20 alphanumeric characters)

250$ 100T 1 gift_code
0$ 0T * newYear
